.project-cards-list {
  @apply mb-4;
  &__item {
    &:not(:last-child) {
      margin-bottom: 7rem;
    }

    &:nth-child(even) {
      & .project-card__text-container {
        @screen md {
          @apply mr-0 ml-8;
          grid-column: 8 / -1;
        }
      }

      & .project-card__img-container {
        @screen md {
          grid-column: 1 / 8;
        }
      }
    }
  }
}

.project-card {
  @apply mt-12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;

  &__text-container {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    z-index: 10;

    @screen md {
      @apply mr-8;
      grid-column: 1 / 6;
    }
  }

  &__img-container {
    display: none;
    @screen md {
      display: block;
      grid-column: 6 / -1;
      /* grid-area: 1 / 6 / -1 / -1; */
    }
  }

  &__title {
    @apply text-xl mb-3;

    @screen sm {
      @apply text-2xl;
    }
  }

  &--primary {
    .project-card__title {
      color: var(--color-primary);
    }
  }

  &--accent {
    .project-card__title {
      color: var(--color-accent);
    }
  }

  &__img {
    right: 0;
    filter: grayscale(100%);
  }

  &__body {
    @apply my-5 text-sm;
    @screen sm {
      @apply text-base;
    }
  }
}
